<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arma3LauncherLib" version="1.0.0-rc5" targetFramework="net45" />
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net45" />
</packages>